@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

  #homeCard {   
    animation: rotate 1s ease-in-out 500ms 1 forwards;
  }
}
